.cartel{
	&:hover{
		-webkit-animation: 1s cartel 1;
		transform-origin: top center;
	}
}
@-webkit-keyframes cartel{
	20%{
		transform:rotate(15deg);
	}
	40%{
		transform:rotate(-10deg);
	}
	60%{
		transform:rotate(5deg);
	}
	80%{
		transform:rotate(-3deg);
	}
}