.vaiven{
	&:hover{
		-webkit-animation: 1s vaiven 1;
	}
}
@-webkit-keyframes vaiven{
	15%{
		transform:rotate(-10deg) translateX(-25%);
	}
	30%{
		transform:rotate(5deg) translateX(20%);
	}
	45%{
		transform:rotate(-3deg) translateX(-10%);
	}
	60%{
		transform:rotate(2deg) translateX(5%);
	}
	75%{
		transform:rotate(-1deg) translateX(-3%);
	}
}