@import "_reset";
@import "_TrianguloLateral";
@import "_TrianguloFijo";
@import "_EsquinaPagina";
@import "_SombraFija";
@import "_SombraDifuminada";
@import "_SombraRadial";
@import "_SombraExterna";
@import "_Iluminacion";
@import "_ResalteBorde";
@import "_BordeInterno";
@import "_ExpansionBorde";
body {
	background-color: #eee;
}