@import "_reset";
@import "_TrianguloLateral";
@import "_TrianguloFijo";
@import "_EsquinaPagina";
@import "_SombraFija";
@import "_SombraDifuminada";
@import "_SombraRadial";
@import "_SombraExterna";
@import "_Iluminacion";
@import "_ResalteBorde";
@import "_BordeInterno";
@import "_ExpansionBorde";
@import "_ExpansionBorde2";
@import "_EsquinaRedondeada";
@import "_BordeInferiorMenu";
@import "_keyframe1";
@import "_Flash";
@import "_Click";
@import "_Chicle";
@import "_Vibrador";
@import "_Cartel";
@import "_Vaiven";
@import "_Descolgado";
body {
	background-color: #eee;
}