doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport",content="width=device-width,initial-scale=1,maximum-scale=1")
		title template de jade
		link(rel="stylesheet",href="css/min/app.css")
		script(src="js/min/modernizr.js")
	body
		.triangulo_lateral
			p Triangulo Lateral
		.triangulo_fijo
			p Triangulo Fijo
		.esquina_pagina
			p Esquina de pagina
		.sombra_fija
			p Sombra fija