doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport",content="width=device-width,initial-scale=1,maximum-scale=1")
		title template de jade
		link(rel="stylesheet",href="css/min/app.css")
		script(src="js/min/modernizr.js")
	body
		.caja
			p Keyframe
		.flash
			p Flash
		.click
			p Click
		.chicle
			p Chicle
		.vibrador
			p Vibrador
		.cartel
			p Cartel
		.vaiven
			p Vaiven
		.descolgado
			p Descolgado